<h1>Create a new animal</h1>

<form action="/animal" method="post">
    <input type="text" name="name" placeholder="Animal Name">
    <input type="text" name="location" placeholder="Location">
    <input type="text" name="lifeExpectancy" placeholder="Life Expectancy">
    <input type="checkbox" name="extinct">
    <input type="submit" name="Create new animal" id="">
</form>

<a href="/animal">Back to main page</a>