<h1><%= animal.name %></h1>
<h2>COLOR: <%= animal.extinct %></h2>
<h3>LOCATION: <%= animal.location %></h3>
<h4>LIFE EXPECTANCY: <%= animal.lifeExpectancy %></h4>

<a href="/animal">Back to main page</a>